@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./assets/jokenpo2.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: hwb(0 82% 11% / 0.377);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.buttons {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    gap: 30px;

}

p {
    font-weight: bold;
    margin-bottom: 20px;
}



button {

    margin: 10px;
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;

}

button:hover{
    opacity: 0.8;
}

#rock {
    background-color: rgb(235, 80, 19);
}

#paper {
    background-color: rgb(240, 236, 18);
}

#scissors {
    background-color: rgb(32, 123, 241);
}

.your-score span {

    color: rgb(114, 114, 223);
    background-color: black;
    padding: 5px;
    color: rgb(9, 9, 148);
    
}

.machine-score span {

    color: rgb(159, 118, 236);
    background-color: black;
    padding: 5px;
    color: rgb(243, 191, 191);
}

.your-score {
    margin-top: 20px;
}

h1 {
    padding-bottom: 20px;
    font-family: "Honk";
    font-size: 60px;
}

p {

    font-family: "Micro 5", sans-serif;
    font-size: 30px;
    margin: 20px;
    margin: 20px 15px;
    font-family: "Macondo Swash Caps";
    font-size: 30px;
}